// GLOBAL
// ---------------------

// FORMS
// ---------------------

.form-container {
  background-color: var(--color-neutral-white);
  width: 33%;
  position: relative;
  margin: auto;
  padding: 1em;
}
.form {

}
