:root {
  /* COLORS */
  --color-primary-base: #003566;
  --color-primary-brighter: #1265B2;
  --color-primary-lighter: #5b8bb780;
  --color-neutral-black: #000814;
  --color-neutral-grey-01: #56647A;
  --color-neutral-grey-02: #8FA1B3;
  --color-neutral-grey-03: #DCE4E8;
  --color-neutral-grey-04: #ECF1F4;
  --color-neutral-grey-05: #F5F8FA;
  --color-neutral-white: #FFFFFF;
  --color-semantic-green: #3CB212;
  --color-semantic-green-lighter: rgba(60, 178, 18, 0.05);
  --color-semantic-red: #B21212;

  /* ICONS */
  .icon {
    width: 12px;
    height: 12px;
    display: block;
    margin-right: 4px;
  }
  .alert-error-icon {
    mask-image: url("../assets/icon/alert-circle.svg");
    background-color: var(--color-semantic-red);
  }
  .alert-error {
    display: flex;
    align-items: center;
    color: var(--color-semantic-red);
  }
}
